<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Oxide.CSharp" version="2.0.4041" targetFramework="net48" />
  <package id="Oxide.Core" version="2.0.3991" targetFramework="net48" />
  <package id="Oxide.MySql" version="2.0.3760" targetFramework="net48" />
  <package id="Oxide.References" version="2.0.3779" targetFramework="net48" />
  <package id="Oxide.Rust" version="2.0.4868-develop" targetFramework="net48" />
  <package id="Oxide.SQLite" version="2.0.3762" targetFramework="net48" />
  <package id="Oxide.Unity" version="2.0.3772" targetFramework="net48" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net48" />
</packages>